
<div id="userName"></div>

<div id="main"></div>

<script type="text/javascript">

app.user = <%== @current_user.to_json %>   // uses ruby to get id of login user

</script>


<div id="main" class="container"></div>
<div id="seats"></div>
<script id="s" type="text/template">



  <br>
  <br>
  <textarea id= 'origin' autofocus placeholder="Origin"></textarea>
  <textarea id= 'destination' placeholder="Destination"></textarea>
  <button>Submit</button>
  </div>
</script>

<script id="newsearchView" type="text/template">
  <div><img src="http://www.seamantours.com/wp-content/uploads/2016/04/homepage-flights.jpg" alt=""></div>
<div id="mybox">
  <h2>Search Flights</h2>
  <br>

  <table>

  <textarea id= 'origin' autofocus placeholder="Origin"></textarea>
  <textarea id= 'destination' placeholder="Destination"></textarea>
  <button>Submit</button>
  <table id="x"style="display:none">

    <thead class="thead">
      <th>Date</th>
      <th>Flight</th>
      <th>From > To</th>
      <th>Plane</th>
    </thead>
    <tbody id="searchResults"></tbody>
  </table>
</script>

<script id="searchListView" type="text/template">
  <td>{{date}}</td>
  <td>{{id}}</td>
  <td>{{origin}} &gt; {{destination}}</td>
  <td>{{plane_id}}</td>
</script>
