<h1>Pages#app</h1>
<p>Find me in app/views/pages/app.html.erb</p>
<div id="userName"></div>

<div id="main"></div>

<script type="text/javascript">

app.user = <%== @current_user.to_json %>   // uses ruby to get id of login user

</script>


<a href="#">Planes</a>
<a href="#">Flights</a>
<a href="#">Admin</a>

<div id="main" class="container"></div>

 <!-- <script id="appTemplate" type="text/template">
 </script> -->


 <!-- <script id="appViewTemplate" type="text/template">
 </script> -->
