<h1>Pages#app</h1>
<p>Find me in app/views/pages/app.html.erb</p>


<div id="main"></div>


<a href="#">Planes</a>
<a href="#">Flights</a>
<a href="#">Admin</a>






 <script id="appTemplate" type="text/template">

 </script>


 <script id="appViewTemplate" type="text/template">
 </script>

<!-- List of the current planes -->
 <script id="planeListViewTemplate" type="text/template">
     <h2>List of Planes:</h2>
</script>

<!-- View of separate plane. -->
<script id="planeView" type="text/template">
     <h2>Individual Plane:</h2>
</script>

<!-- List of  the current flights -->
<script id="flightListTemplate" type="text/template">
      <h2>List of Flights:</h2>
</script>

<!-- View of separate flight. -->
<script id="flightView" type="text/template">
     <h2>Individual flight:</h2>
</script>

<!-- Flight Summary Template. -->
 <script id="flightSummaryViewTemplate" type="text/template">
</script>

+<script id="seatsViewTemplate" type="text/template">

</script>
