<h1>Pages#app</h1>
<p>Find me in app/views/pages/app.html.erb</p>
<div id="userName"></div>

<div id="main"></div>

<script type="text/javascript">

app.user = <%== @current_user.to_json %>   // uses ruby to get id of login user

</script>


<a href="#">Planes</a>
<a href="#">Flights</a>
<a href="#">Admin</a>

<div id="main" class="container"></div>

<script id="newsearchView" type="text/template">
  <h2>Search Flights</h2>
</script>

<script id="searchListView" type="text/template">
  <h3>Search Results</h3>
  <table>
    <thead class="thead">
      <th>Date</th>
      <th>Flight</th>
      <th>From > To</th>
      <th>Plane</th>
    </thead>
  </table>

</script>
