<!DOCTYPE html>
<html>
<head>
  <title>Burning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <nav id="nav">
    <ul>
        <li data-url="flights/12">Seats</li>
        <li data-url="flights">Search</li>
    </ul>
</nav>



<%= yield %>

</body>
</html>
